.timer{
  width: 400px;
  display: flex;
  justify-content: center;
  margin: auto;
}
.timer button{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    color: white;
    margin: 0px 15px;
}
.timer .start{
  background: green;
}
.timer .reset{
  background-color:red; 
}
.timer .stop
{
  background-color:orange;
}
.timer .start:disabled{
  background-color: gray;
}